<nav>
  <div class="site-title">
    <a href="/"><h1>Covid blog</h1></a>
    <p>ez pz site</p>
  </div>
  <ul>
    <li><a href="/">Reports</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
    <li><a href="/covid/EnterCountryCode">Covid</a></li>
  </ul>
</nav>